Dockerfile
.dockerignore
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.next
out
build
.DS_Store
*.tsbuildinfo
.env
.env.local
.env.production.local
.env.staging.local
.git
.gitignore
README.md
